{% extends "admin/layout_admin.njk" %}

{% block head %}
    <title>{{chef.name}} - Foodfy</title>
{% endblock head %}


{% block content %}
<main>
    <section class="Page">
        <div class = "Head">
            <span>Chef: {{chef.name}}</span>
            <span></span>
            {% if session.is_admin ==true %}
            <span><a href = "/admin/chefs/{{chef.id}}/edit" >Editar chef</a></span>
            {% endif %}

        </div>
        <img id = "chef" src="{{chef.avatar}}" alt = "foto do(a) chef {{chef.name}}">
        <div class="chef-info">
            <div class = "name">{{chef.name}}</div>
            <div>{{chef.total_recipes}} receitas</div>
        </div>
        <div>Receitas</div>
        <div class = "receitas_admin" id="receitas_chef">     
            {% for recipe in recipes %}
            <div class="receita_admin" id="{{item.id}}">
                <span>
                    <div class="fotoReceita">
                        <img src="{{recipe.image[0].src}}" alt="imagem ilustrativa da receita: {{recipe.title}}">
                    </div>
                </span>
                <span>
                    <div class="nomeReceita">
                        <h3>{{recipe.title}}</h3>
                    </div>
                    <div class="criadorReceita">
                        <p>por {{chef.name}}</p>
                    </div>
                    <a href = "/admin/recipes/{{recipe.id}}">Visualizar</a>
                </span>
            </div>
            {% endfor %}
        </div>    
    </section>
</main>
{% endblock content %}
