{% extends "admin/layout_admin.njk" %}

{% block head %}
    <title>Editando usuário - Foodfy</title>
{% endblock head %}


{% block content %}
<main>
        <section class="Page">
            <div class = "Head">
                <span>Atualizando Usuário</span>
                <div class = "headButton">
                    <form id = "form-delete" method = "POST" action = "/admin/users?_method=DELETE">
                        <input
                            type = "hidden",
                            name = "id",
                            value = {{user.id}}>
                        <button id = "delete" type = "submit">Deletar</button>
                    </form>
                    <span><button id = "recipe" form = "update" type = "submit">Salvar</button></span>
                </div>
            </div>
            <form class = "Create user" id="update" method = "POST" action = "/admin/users?_method=PUT">
            <div class = "fields">
            {% include 'admin/user/fields.njk' %}
            </div>
            </form>
        </section>
</main>
{% endblock content %}
