{% extends "admin/layout_admin.njk" %}

{% block head %}
    <title>Criar novo usuário - Foodfy</title>
{% endblock head %}


{% block content %}
<main>
        <section class="Page">
            <div class = "Head">
                <h3>Criar Usuário</h3>
                <div class = "headButton">
                    <span><button id = "recipe" form = "update">Salvar</button></span>
                    <span>
                    {# ARRUMAR O BOTÃO DE CANCELAR #}
                    {% if session.userId %}
                        <a href = "/admin/users/">
                            <button>Cancelar</button>
                        </a>
                    {% else %}
                        <a href = "/admin/users/login">
                            <button>Cancelar</button>
                        </a>
                    {% endif %}
                    </span>
                </div>
            </div>
            <form class = "Create user" id="update" method = "POST" {if session.userId action = "/admin/users" else action = "/admin/users/register"}>
                <div class = "fields">
                {% include 'admin/user/fields.njk' %}
                </div>
            </form>
        </section>
   
</main>
{% endblock content %}
