{% extends "layout.njk" %}



{% block content %}
        <main>
            <div class="intro-block">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos
                com receitas criadas porprofissionais 
                do mundo inteiro.</p>
                <img id= "chef" src="chef.png" alt="imagem de um chef bacana">
            </div>

            <div class="mais-acessadas">
                <h2>Mais acessadas</h2>
                <section class="receitas">
                
                {% for  item in items %}
                    <div class="receita" id="{{item.id}}">
                        <div class="fotoReceita">
                            <img 
                            src="{{item.image[0].src}}" 
                            alt="imagem ilustrativa da receita: {{item.title}}"
                            id = {{item.id}}
                            onclick = "Redirect.goToPage(event)">
                        </div>
                        <div class="nomeReceita">
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="criadorReceita">
                            <p>por {{item.chef_name}}</p>
                        </div>
                    </div>
                {% endfor %}
                </section>
            </div>

           
        </main>

{% endblock %}



    