<div class = "container">
    <a href="/" >
        <div class="logo">
            <img src="/logo_branco.png" 
            alt="logofoodfy" > 
        </div>
    </a>

    <nav class="links">
        <ul>
            <li>
                <a href = "/admin/recipes">RECEITAS</a>
            </li>
            <li>
                <a href = "/admin/chefs">CHEFS</a>
            </li>
            <li>
                <a href = "/admin/users">USUÁRIOS</a>
            </li>
        </ul>
        <form action = "/admin/users/logout" method = "POST">
            <button>SAIR</button>
        </form>
    </nav>    
</div>