<div class = "container">
    <a href="/" >
        <div class="logo">
            <img src="/logo.png" 
            alt="logofoodfy" > 
        </div>
    </a>
    <nav class="links">
        <ul>
            <li>
                <a href="/sobre" alt="about">Sobre</a>
            </li>
            <li>
                <a href="/receitas" alt="recipes">Receitas</a>
            </li>
            <li>
                <a href = "/chefs" alt="chefs">Chefs</a>
            </li>
            <li>
                <a {if user href = "/admin/profile" else href = "/admin/users/login"} alt = "minha conta">Minha Conta</a>
            </li>
        </ul>
    </nav>
        
    <form action = "/search" method = "GET">
        <input
            type = "text"
            name = "filter"
            placeholder = "Buscar uma receita"
            value = {{filter}}
        >
        <button type = "submit">Buscar</button>
    </form>
</div>