<link rel="stylesheet" href="/styles/stylefoodfy.css">
<link rel="stylesheet" href="/styles/user.css">
<link rel="stylesheet" href="/styles/messages.css">
<link rel="stylesheet" href="/styles/session.css">
<link rel="stylesheet" href="/styles/profile.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">